<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Code Market</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            margin: 0 !important;
            width: 100% !important;
            -webkit-text-size-adjust: 100% !important;
            -ms-text-size-adjust: 100% !important;
            -webkit-font-smoothing: antialiased !important;
            background-color: #D3D3D3;
            font-family: 'Lato', sans-serif;
        }

        .tableContent img {
            border: 0 !important;
            display: inline-block !important;
            outline: none !important;
        }

        p {
            color: #929292;
            font-size: 18px;
            line-height: 28px;
            font-weight: 400;
            font-family: 'Lato', sans-serif;
            text-align: left;
        }

        h2 {
            font-weight: normal;
            margin: 0;
            color: #000000;
            font-size: 22px;
            font-family: 'Lato', sans-serif;
        }

        p,
        h1,
        ul,
        ol,
        li,
        div {
            margin: 0;
            padding: 0;
        }

        td,
        table {
            vertical-align: top;
        }

        .fontSize {
            font-size: 16px;
        }

        .footer-text {
            color: #8898aa;
            text-decoration: none;
            font-size: 12px;
            text-align: center;
        }
    </style>
</head>

<body
    style="padding-top: 0; padding-bottom: 0; padding-top: 0; padding-bottom: 0; background-repeat: repeat; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;"
    offset="0" toppadding="0" leftpadding="0">
    <table width="600" border="0" cellspacing="0" cellpadding="0" class="tableContent" align="center" bgcolor="#fff"
        style='font-family:helvetica, sans-serif; margin: 0 auto;'>
        <!-- ================ header=============== -->
        <tr>
            <td align='center' class='bgBody'>
                <table
                    style="border-bottom-left-radius:5px;border-bottom-right-radius:5px;margin:0 auto;min-width:600px"
                    width="600" border="0" cellspacing="0" cellpadding="0" bgcolor="f6f9fc">

                    <!-- ================ END header =============== -->
                    <tr>
                        <td>
                            <table width="600" border="0" cellspacing="0" cellpadding="0" style="padding: 45px 90px;">
                                <tr>
                                    <td align='center'>
                                        <div>
                                            <table width="600" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td width='20'></td>
                                                    <td align='center'>
                                                        <img style="width: 240px; object-fit: contain; object-position: center;"
                                                            src="https://aws2019demo.s3.amazonaws.com/codemarket.png"
                                                            alt='CodeMarket'>
                                                        <!-- <p style="margin-left: 40%">New Comment!</p> -->
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <!--  =========================== The body ===========================  -->
                                        <div>
                                            <table width="600" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td width='500'>
                                                        <div style="text-align:center;">
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div>
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td height='30'></td>
                                                </tr>
                                                <tr>
                                                    <td align='center' width='600'>
                                                        <div class="content-txt">
                                                            <p class="fontSize" style="margin-bottom: 15px;">
                                                                <% if (locals.NAME) { %>
                                                                    Dear <%= NAME %> ,
                                                                <% } %>
                                                            </p>

                                                            <% if (locals.HTML_CONTENT) { %>
                                                            <p class="fontSize"> <%- HTML_CONTENT %> </p>
                                                            <% } %>


                                                            <!-- If the content is set from the options -->
                                                            <% if (locals.CONTENT) { %>
                                                            <p class="fontSize"> <%= CONTENT %> </p>
                                                            <% } %>

                                                            <!-- If the link is set from the options-->
                                                            <% if (locals.LINK) { %>
                                                            <p class="fontSize" style="margin-top: 15px;"> Here is the link, By clicking it you will be redirected to the post. </p>
                                                            <p class="fontSize"><a href="<%=LINK%>""> <%= LINK %></p>
                                                            <% } %>

                                                            <!-- If the invitation link is set from the options -->
                                                            <% if (locals.INVITATION_LINK) { %>
                                                                <p class=" fontSize" style="margin-top: 15px;">
                                                                    Here is the invitation <a href="<%= INVITATION_LINK %>" target="_blank">link</a>,
                                                                    By clicking on it, You will be able to successfully accept the invitation
                                                            </p>
                                                            <% } %>

                                                            <!-- This part is onl for RSVP event email -->
                                                            <% if (locals.EVENT_INVITATION_LINK) { %>
                                                            <p class="fontSize" style="margin-top: 15px;"> You have
                                                                successfully RSVP for <%= EVENT_NAME %>. </p><br><br>
                                                            <h3>Event Details:</h3>
                                                            <p class="fontSize" style="margin-top: 15px;">
                                                                <strong>From:</strong><%= FROM %></p>
                                                            <p class="fontSize"><strong>To:</strong><%= TO %></p>
                                                            <p class="fontSize"><strong>Location:</strong><%= ADDRESS %>
                                                            </p>
                                                            <p class="fontSize" style="margin-top: 15px;">
                                                                Here is the invitation <a
                                                                    href="<%= EVENT_INVITATION_LINK %>"
                                                                    target="_blank">link</a>,
                                                                By clicking on it, You will be able to successfully
                                                                accept the invitation
                                                            </p>
                                                            <% } %>

                                                            <% if (!locals.HTML_CONTENT) { %>
                                                                <br><br>

                                                                <p class="fontSize">Thank You.</p>
    
                                                                <!-- SIGNATURE -->
                                                                <p class="fontSize">- The Codemarket Team</p>
                                                            <% } %>

                                                            <!-- -->
                                                            <hr style="border: 0; border-top: 1px solid #eee; margin: 40px 0;">
                                                            <p class="footer-text">Palo Alto, CA 94306, US</p>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <!-- end footer-->
    </table>
</body>

</html>