<html><head>
    <title>Template</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">
    <style type="text/css">
        div {
            padding: 2px !important;
            font-size: 16px !important;
        }
    </style>
 </head>
 <body style="
 font-family: monospace;
 ">
 <table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tbody>
       <tr>
          <td style="background-color:#ffffff">
             <table width="100%" cellpadding="0" cellspacing="0" border="0">
                <tbody>
                   <tr>
                      <td align="center" style="background-color:transparent;border-top-style:none;border-bottom-style:none;border-right-style:none;border-left-style:none;border-top-width:0px;border-bottom-width:0px;border-right-width:0px;border-left-width:0px;border-color:#222222">
                         <table width="100%" cellpadding="0" cellspacing="0" border="0" style="max-width:600px">
                            <tbody>
                               <tr>
                                  <td align="center" style="background-color:transparent">
                                     <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tbody>
                                           <tr>
                                              <td align="center">
                                                 <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                    <tbody>
                                                       <tr>
                                                          <td align="center" style="padding:25px 10px 10px 10px">
                                                             <img style="    width: 350px;
                                                     object-fit: contain;
                                                     object-position: center;" src="https://aws2019demo.s3.amazonaws.com/codemarket.png"
                                                         alt='CodeMarket'>
                                                          </td>
                                                       </tr>
                                                    </tbody>
                                                 </table>
                                              </td>
                                           </tr>
                                        </tbody>
                                     </table>
                                     <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tbody>
                                           <tr>
                                              <td align="center">
                                                 <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                    <tbody>
                                                       <tr>
                                                          <td style="padding:0px 0px 0px 0px;vertical-align:top">
                                                             <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                                <tbody>
                                                                   <tr>
                                                                      <td height="5" style="font-size:0px;line-height:0px;border-bottom-style:solid;border-top-width:0px;border-bottom-width:1px;border-right-width:0px;border-left-width:0px;border-color:#cccccc">
                                                                         &nbsp;
                                                                      </td>
                                                                   </tr>
                                                                </tbody>
                                                             </table>
                                                          </td>
                                                       </tr>
                                                       <tr>
                                                          <td style="padding:0px 0px 0px 0px;vertical-align:top">
                                                             <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                                <tbody>
                                                                   <tr>
                                                                      <td height="0" style="font-size:0px;line-height:0px;border-bottom-style:solid;border-top-width:0px;border-bottom-width:1px;border-right-width:0px;border-left-width:0px;border-color:#cccccc">
                                                                         &nbsp;
                                                                      </td>
                                                                   </tr>
                                                                </tbody>
                                                             </table>
                                                          </td>
                                                       </tr>
                                                    </tbody>
                                                 </table>
                                              </td>
                                           </tr>
                                        </tbody>
                                     </table>
                                  </td>
                               </tr>
                            </tbody>
                         </table>
                      </td>
                   </tr>
                </tbody>
             </table>
             <table width="100%" cellpadding="0" cellspacing="0" border="0">
                <tbody>
                   <tr>
                      <td align="center" style="background-color:transparent;border-top-style:none;border-bottom-style:none;border-right-style:none;border-left-style:none;border-top-width:0px;border-bottom-width:0px;border-right-width:0px;border-left-width:0px;border-color:#222222">
                         <table width="100%" cellpadding="0" border="0">
                            <tbody>
                               <tr>
                                  <td align="center" style="padding:10px 0px 10px 0px">
                                     <table width="100%" cellpadding="0" cellspacing="0" border="0" style="max-width:600px">
                                        <tbody>
                                           <tr>
                                              <td align="center" style="background-color:transparent">
                                                 <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                    <tbody>
                                                       <tr>
                                                          <td align="center">
                                                             <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                                <tbody>
                                                                   <tr>
                                                                      <td style="padding:0px 0px 0px 0px;padding: 10px;">
                                                                         <div style="
                                                                         /* height: 350px; */
                                                                         /* background: #f2e8df; */
                                                                         border-width: 7px;
                                                                         /* border-radius: 25px; */
                                                                         /* padding: 20px; */
                                                                         /* border: 2px solid black; */
                                                                         color: black;
                                                                         ">
                                                                         <h2 style="
                                                                         color: black;
                                                                         padding: 2%;
                                                                         margin: 0px;
                                                                         background-color: #fafafa;
                                                                         border: 1px solid; 
                                                                         ">
                                                                            <div>
                                                                               <% if (locals.NAME) { %>
                                                                                  Dear <%= NAME %> ,
                                                                              <% } %>
                                                                            </div>
                                                                            <% if (locals.HTML_CONTENT) { %>
                                                                              <br>

                                                                               <div> <%- HTML_CONTENT %> </div>
                                                                            <% } %>
                                                                            <!-- If the content is set from the options -->
                                                                            <% if (locals.CONTENT) { %>
                                                                              <br>

                                                                               <div> <%= CONTENT %> </div>
                                                                            <% } %>
                                                                            <!-- If the link is set from the options-->
                                                                            <% if (locals.LINK) { %>
                                                                              <br>

                                                                               <div> Here is the link, By clicking it you will be redirected to the post. </div>
                                                                               <div><a href="<%=LINK%>""> <%= LINK %></div>
                                                                            <% } %>
                                                                            <!-- If the invitation link is set from the options -->
                                                                            <% if (locals.INVITATION_LINK) { %>
                                                                              <br>

                                                                               <div>
                                                                                  Here is the invitation <a href="<%= INVITATION_LINK %>" target="_blank">link</a>,
                                                                                  By clicking on it, You will be able to successfully accept the invitation
                                                                               </div>
                                                                            <% } %>
                                                                            <!-- This part is onl for RSVP event email -->
                                                                            <% if (locals.EVENT_INVITATION_LINK) { %>
                                                                              <br> 

                                                                               <div> You have
                                                                                  successfully RSVP for <%= EVENT_NAME %>. </div><br><br>
                                                                               <h3>Event Details:</h3>
                                                                               <div>
                                                                                  <strong>From:</strong><%= FROM %></div>
                                                                               <div><strong>To:</strong><%= TO %></div>
                                                                               <div><strong>Location:</strong><%= ADDRESS %>
                                                                               </div>
                                                                               <div>
                                                                                  Here is the invitation <a
                                                                                     href="<%= EVENT_INVITATION_LINK %>"
                                                                                     target="_blank">link</a>,
                                                                                  By clicking on it, You will be able to successfully
                                                                                  accept the invitation
                                                                               </div>
                                                                            <% } %>
                                                                            <% if (!locals.HTML_CONTENT) { %>
                                                                               <br>
               
                                                                               <div>Thank You.</div>
                   
                                                                               <!-- SIGNATURE -->
                                                                               <div>- The Codemarket Team</div>
                                                                           <% } %>
 
                                                                           <hr style="border: 0; border-top: 1px solid #eee;">
                                                                           <div style="text-align: center;">

                                                                              <a style="display: inline-block;" href="https://www.facebook.com/joincodemarket/" title="Facebook" target="_blank"><img alt="Facebook" width="24" style="display:block;width:100%;max-width:24px;border:0" src="https://codemarket-files.s3.amazonaws.com/public/facebook.png" class="CToWUd"></a>
                                                                              &nbsp;

                                                                              <a style="display: inline-block;" href="https://twitter.com/joincodemarket" title="Twitter" target="_blank" ><img alt="Twitter" width="24" style="display:block;width:100%;max-width:24px;border:0" src="https://codemarket-files.s3.amazonaws.com/public/twitter.png" class="CToWUd"></a>
                                                                              &nbsp;

                                                                              <a style="display: inline-block;" href="https://www.linkedin.com/company/joincodemarket/" title="Twitter" target="_blank"><img alt="Twitter" width="24" style="display:block;width:100%;max-width:24px;border:0" src="https://codemarket-files.s3.amazonaws.com/public/linkedin.png" class="CToWUd"></a>

                                                                           </div>
                                                                            <div style="text-align: center;">Palo Alto, CA 94306, US</div>
                                                                         </h2>
                                                                      </td>
                                                                   </tr>
                                                                <tr>
                                                                </tr>
                                                             </tbody>
                                                          </table>
                                                       </td>
                                                    </tr>
                                                 </tbody>
                                              </table>
                                           </td>
                                        </tr>
                                     </tbody>
                                  </table>
                               </td>
                            </tr>
                         </tbody>
                      </table>
                   </td>
                </tr>
             </tbody>
          </table>
          </td>
       </tr>
    </tbody>
 </table>
 
 </body></html>